<form action="add_product" method="get">
    <label for="header">header</label>
    <input id='header' type="text" name="header" value="<%= data.header %>"><br>
    <label for="content">content</label>
    <textarea name="content" id="content" cols="30" rows="10">
        <%= data.content %>
    </textarea><br>
    <input id="header_img" name="header_img" type="file">
    <label for="header_img">header_img</label>
    <br>
    <input id="hover_img" name="hover_img" type="file">
    <label for="hover_img">hover_img</label>
    <br>
    <input id="3_img" name="3_img" type="file">
    <label for="3_img">3_img</label>
    <br>
    <input id="4_img" name="4_img" type="file">
    <label for="4_img">4_img</label>
    <br><input type="submit"/>
</form>