        <footer><hr>
            <div class="container">

                <div class="row">
                    <div class="col-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aperiam maxime quas dolor blanditiis
                            velit! Ratione earum ipsum asperiores, dolores molestias excepturi iusto quibusdam provident aut
                            cumque voluptate laboriosam corporis!
                        </p>
                    </div>
                    <div class="col-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aperiam maxime quas dolor blanditiis
                            velit! Ratione earum ipsum asperiores, dolores molestias excepturi iusto quibusdam provident aut
                            cumque voluptate laboriosam corporis!
                        </p>
                    </div>
                    <div class="col-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aperiam maxime quas dolor blanditiis
                            velit! Ratione earum ipsum asperiores, dolores molestias excepturi iusto quibusdam provident aut
                            cumque voluptate laboriosam corporis!
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>