<%- include ("includes/header.ejs") %> -%>
<div class="container">
    <div class="header my-4">
        <h1>User header</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente maxime dolorum in dolor fugiat, repellat
            explicabo, odio consequatur error cupiditate exercitationem laborum non architecto ipsa animi laboriosam
            facere suscipit sequi.</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">update</th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>userLastName</td>
                <td>userFrstName</td>
                <td>userMail</td>
                <td>userPhone</td>
                <td><a href="#">upd</a></td>
                <td><a href="#">del</a></td>
            </tr>
        </tbody>
    </table>
    <div class="header my-4">
        <h1>Product header</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente maxime dolorum in dolor fugiat, repellat
            explicabo, odio consequatur error cupiditate exercitationem laborum non architecto ipsa animi laboriosam
            facere suscipit sequi.</p>
        <hr>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Header</th>
                <th scope="col">Content</th>
                <th scope="col">Price</th>
                <th scope="col">Brend</th>
                <th scope="col">Categ</th>
                <th scope="col">upd</th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Header</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, unde. Nisi quidem officia accusamus
                    iure, eum deserunt dolorum voluptatum magnam facere consectetur corrupti rem qui necessitatibus
                    atque autem id quos.</td>
                <td>2000</td>
                <td>Brend</td>
                <td>Categ</td>
                <td><a href="#">upd</a></td>
                <td><a href="#">del</a></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Header</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, unde. Nisi quidem officia accusamus
                    iure, eum deserunt dolorum voluptatum magnam facere consectetur corrupti rem qui necessitatibus
                    atque autem id quos.</td>
                <td>2000</td>
                <td>Brend</td>
                <td>Categ</td>
                <td><a href="#">upd</a></td>
                <td><a href="#">del</a></td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="header my-4">
                    <h1>brend header</h1>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente maxime dolorum in dolor fugiat, repellat
                        explicabo, odio consequatur error cupiditate exercitationem laborum non architecto ipsa animi laboriosam
                        facere suscipit sequi.</p>
                    <hr>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>brend</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-6">
                <div class="header my-4">
                    <h1>Categ header</h1>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente maxime dolorum in dolor fugiat,
                        repellat
                        explicabo, odio consequatur error cupiditate exercitationem laborum non architecto ipsa animi
                        laboriosam
                        facere suscipit sequi.</p>
                    <hr>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>categ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include ("includes/footer.ejs") %> -%>